body{
	font-family: "Lato" sans-serif;
	font-weight: 100;
	color: white;
}
#top{
	
	background-color: black;
	opacity: 0.5;
}
#top>h1{
	font-size: 9em;
	width:33%;
	padding-left: 32%;
	opacity: 1;
}
#timeContainer{
	width: 100%;
	padding-top:120px;
}

#time{
	font-size: 8em;
	width :33%;
	padding-left: 33%;
}
 #hex{
 	font-size: 8em;
	padding-left:46%;
}